body {
    position: relative;
    background-attachment: fixed;
    background-image: url(/assets/images/smcc-bg\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}

html {
    height: 100%;
    width: 100%;
}

.container-fluid .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 560px;
    transition: 0.4s all ease-in-out;
    overflow: hidden;
}

.container-fluid .card-img:hover {
    transform: scale(1.4);
}